.chatContainer
{
    width: 320px;
    height: 80vh;
    background: #ffffff;
    border-left: 2px solid #e2e8f0;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 8rem;
    z-index: 20;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
}

.title
{
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid #e2e8f0;
}

.messagesBox
{
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
}

.message
{
    background: #f8fafc;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 6px;
    border-left: 5px solid transparent;
}

.user
{
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
}

.text
{
    display: block;
    margin-bottom: 0.25rem;
}

.time
{
    font-size: 0.7re,;
    color: grey;
}

.inputRow
{
    display: flex;
    border-top: 1px solide #e2e8f0;
    padding: 0.5rem;
}

.input
{
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #cbd5e1;
    border-radius: 4px;
}

.sendBtn
{
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    background: #3182ce;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}