.block{
    width: 3.5px;
    height: 3.5px;
    background-color: #828288;
}
.list_container{
    /* overflow: auto; */
    /* height: 100vh; */
    /* padding-bottom: 22rem; */
}
.list_container::-webkit-scrollbar {
    width: 8px;
}
  
.list_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 10px;
}
   
.list_container::-webkit-scrollbar-thumb {
    background: #cbd5e1; 
    border-radius: 8px;
}

.mx_44{
    margin-left: 9rem;
    margin-right: 9rem;
}
.cw_42{
    width: 42rem;
}
.cmt_10{
    margin-top: 10rem;
}
input::-webkit-input-placeholder {
    font-size: 16px;
}

.search_bar{
    /* width: 42rem; */
    min-width: 164px;
    max-width: 598px;
}
.search_bar input{
    width: 32rem;
}
.search_bar_btn{
    padding: 10px 15px;
}
.search_bar_btn button{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB0PSIxNjU0MDcwMjkyMjM5IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjI4NTQiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCI+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj5AZm9udC1mYWNlIHsgZm9udC1mYW1pbHk6IGZlZWRiYWNrLWljb25mb250OyBzcmM6IHVybCgiLy9hdC5hbGljZG4uY29tL3QvZm9udF8xMDMxMTU4X3U2OXc4eWh4ZHUud29mZjI/dD0xNjMwMDMzNzU5OTQ0IikgZm9ybWF0KCJ3b2ZmMiIpLCB1cmwoIi8vYXQuYWxpY2RuLmNvbS90L2ZvbnRfMTAzMTE1OF91Njl3OHloeGR1LndvZmY/dD0xNjMwMDMzNzU5OTQ0IikgZm9ybWF0KCJ3b2ZmIiksIHVybCgiLy9hdC5hbGljZG4uY29tL3QvZm9udF8xMDMxMTU4X3U2OXc4eWh4ZHUudHRmP3Q9MTYzMDAzMzc1OTk0NCIpIGZvcm1hdCgidHJ1ZXR5cGUiKTsgfQo8L3N0eWxlPjwvZGVmcz48cGF0aCBkPSJNNDQ4IDk2YTM1MiAzNTIgMCAwIDEgMjY5LjQ0IDU3OC41NmwxNzEuMDA4IDE3MS4wMDhhMzIgMzIgMCAwIDEtNDEuNjg1MzMzIDQ4LjM0MTMzM2wtMy41ODQtMy4xMTQ2NjYtMTcxLjI2NC0xNzEuMTc4NjY3QTM1MiAzNTIgMCAxIDEgNDQ4IDk2eiBtMCA2NGEyODggMjg4IDAgMSAwIDAgNTc2IDI4OCAyODggMCAwIDAgMC01NzZ6IiBmaWxsPSIjMzMzMzMzIiBwLWlkPSIyODU1Ij48L3BhdGg+PC9zdmc+);
    background-size: cover;
    background-position: center;
}
.search_input{
    background-color: #F2F4F6;
}

.hightlight_task{
    outline: 3px solid #5338a5;
    border: 1px solid transparent;
}

.doc_default_color{
    /* color: rgb(14 233 212); */
    /* color: #e4cd99; #c4c0c0 */
    color: #cda54b;
}
.link_default_color{
    color: #6c6cbc;
}
.dropdown_icon{
    color: #c4c0c0
}
.dropdown_element{
    right: -10px;
    top: -10px;
}
.dropdown_wrap:hover .dropdown_icon{
    color: #4A5568
}

.book_cover{
    width: 5rem;
    height: 6.5rem;
}


.workspaceContentTimelineContainer 
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

.workspaceLeft 
{
    width: 350px;
    flex-shrink: 0;
}

.workspaceRight 
{
    width: 800px;
    flex-shrink: 0;
}


/* CSS for the Side bar with Queries */
.topicsSidebar 
{
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
}

.topicsSidebar::-webkit-scrollbar 
{
  width: 8px;
}

.topicsSidebar::-webkit-scrollbar-track 
{
  background: transparent;
  border-radius: 10px;
}

.topicsSidebar::-webkit-scrollbar-thumb 
{
  background: rgba(24, 24, 80, 0.9);
  border-radius: 10px;
}

.topicsSidebar::-webkit-scrollbar-thumb:hover 
{
  background:rgba(24, 24, 80, 1);
}


.topicItem 
{
   width: 100%;
   margin: 1.5rem 0;
}

.topicButton 
{
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(42, 42, 65);
    background: #ffffff;
    transition: background-color 0.2s;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
}

.topicButton:hover 
{
    background: rgba(24, 24, 80, 0.9);
    color: #ffffff;
}

.topicButtonHighlighted 
{
    background-color: rgba(24, 24, 80, 0.9);
    border-color: #dae5f5;
    color: rgb(255, 255, 255);
}

.topicIcon 
{
    margin-right: 0.5rem;
    flex-shrink: 0;
}


.topicContent 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 3px;
}

.topicName 
{
    font-size: 1.2rem;
}

/* .ongoingChip 
{
    margin-left: 0.5rem;
    padding: 0.125rem 0.5rem;
    font-size: 0.75rem;
    border: 1px solid rgba(24, 24, 80, 0.9);
    color: #15803d;
    border-radius: 4px;
    white-space: nowrap;
} */

.topicTimestamp 
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.25rem;
}

.topicTimestampText 
{
    font-size: 1rem;
    font-weight: bold;
    color: rgba(24, 24, 80, 0.9);
}

