.base_progressbar{
    width: 80%;
    height: 5px;
    background: #ecf3fd;
    border-radius: 50px;
    margin-right: 10px;
    position: relative;
}
.percent_progressbar{
    position: absolute;    
    height: 5px;
    background: #43549c;
    border-radius: 50px;

}
.query_icon_default_color{
    color: #6c6cbc;
}
.new_wp_input_wrap{
    width: 450px;
}
.doc_default_color{
    /* color: rgb(14 233 212); */
    /* color: #e4cd99; #c4c0c0 */
    color: #cda54b;
}

.wsp_container:hover{    
    border: 2px solid #b8b8dc;
}

/* Keyframes for shake animation */
@keyframes shake {
    0% { transform: translateY(0); }
    25% { transform: translateY(-2.5px); }
    50% { transform: translateY(2.5px); }
    75% { transform: translateY(-2.5px); }
    100% { transform: translateY(0); }
}

/* Apply shake animation to the element */
.shake_animation {
    background: #b8b8dc;
    animation: shake 1.2s ease-in-out;
}
.success_animation{
    animation: shake 1.2s ease-in-out;
}

.hiddendivs {
    opacity: 0;
    height: 0;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    transition: opacity 0.25s ease-in, height 0.25s ease-in;
    overflow: hidden;
    pointer-events: none;    

}
  
.visibledivs {
    opacity: 1;
    height: 84px;
    transition: opacity 0.25s ease-in, height 0.25s ease-in;
}