/* Keyframes for shake animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2.5px); }
    50% { transform: translateX(2.5px); }
    75% { transform: translateX(-2.5px); }
    100% { transform: translateX(0); }
}

/* Apply shake animation to the element */
.alert_animation {    
    animation: shake 0.75s ease-in-out;
}

.error_state_mh{
    min-height: 40px;
}