.timelineContainer {
  position: sticky;
  top: 0;
}

.noQueries {
  padding: 1rem;
}

.timelineWrapper {
  background: #ffffff;
  border-left: 2px solid #e2e8f0; 
  border-radius: 6px; 
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
  height: 70vh; 
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 380px; 
  top: 23.5rem;
}

.timelineScrollContainer {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.timelineScrollContainer::-webkit-scrollbar {
  width: 8px;
}

.timelineScrollContainer::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.timelineScrollContainer::-webkit-scrollbar-thumb {
  background: rgba(24, 24, 80, 0.9);
  border-radius: 10px;
}

.timelineScrollContainer::-webkit-scrollbar-thumb:hover {
  background:rgba(24, 24, 80, 1);
}

.timelineTitle {
  padding: 1rem; 
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid #e2e8f0;
}


.layoutWrapper {
  display: flex;
  gap: 2rem;
}

.leftPanel {
  width: 42rem;
  flex-shrink: 0;
}

.rightPanel {
  flex-grow: 1;
  max-width: 400px;
}



.queryGroup {
  background: #f8fafc; 
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 6px;
  border-left: 5px solid transparent; 
  max-width: 100%;
}

.queryDate {
  font-weight: bold;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 0.25rem;
}

.queryItem {
  background: #f8fafc;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  margin-bottom: 0.75rem;
  border-radius: 6px;
  border-left: 5px solid rgba(24, 24, 80, 0.9);
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.queryItemRemoved {
  position: relative;
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  border-left: 5px solid rgba(24, 24, 80, 0.9);
  text-decoration: line-through;
  border-radius: 6px;
  background: #f8fafc;
}

.queryItemTime {
  font-size: 0.7rem;
  color: grey;
  text-align: right;
  margin-top: 0.25rem;
}

.queryItemIcon {
  position: absolute;
  margin-right: 10px;
  left: 10px;
  top: 10px;
  cursor: pointer;
}

.queryBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4px;
  background: #f8fafc;
  border: 1px solid #cbd5e1;
  cursor: pointer;
}

.queryText {
  display: flex;
  align-items: center;
}

.queryTime {
  font-size: 0.7rem;
  color: grey;
  text-align: right;
  margin-left: 0.5rem;
}




